html {
  /* font-family: sans-serif; */
  /* font-weight: normal !important; */
}

.k-input[data-theme='field'] {
  border: none;
}
.k-panel {
  background: #f7f7f7;
}
.k-headline {
  /* font-weight: normal; */
}
.k-fieldset .k-grid {
  grid-row-gap: 1rem;
}
.k-section,
.k-sections {
  padding-bottom: 2.5rem;
}
.k-field-label {
  font-weight: normal;
  /* text-transform: uppercase; */
  display: block;
  padding: 0 0 0.5rem;
  flex-grow: 1;
  line-height: 1.25rem;
}
.k-registration {
  display: none;
}
.k-topbar {
  position: relative;
  color: #fff;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 1;
  background: #bbb;
}
.k-topbar-signals {
  position: absolute;
  top: 0;
  background: #bbb;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
[dir='ltr'] .k-topbar-signals:before {
  left: -0.5rem;
  background: -webkit-linear-gradient(left, rgba(17, 17, 17, 0), #aaa);
}
.k-header .k-headline {
  min-height: 1.25em;
  margin-bottom: 0;
  word-wrap: break-word;
}
