
html {
  font-size: 1.05vw;
}
body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
}

body.content {
  /* overflow-y: hidden; */
  
}

.markdown>* {
  all: revert;
}

[data-route="/commissions"] .head h1 a,
[data-route="/commissions"] .head .nav_trigger {
  color: black !important;
}



/* [data-theme="#d9c1fa"] a:hover,
[data-theme="#d9c1fa"] .extra-content_trigger:hover {
  color: #d9c1fa !important;
}
[data-theme="#54d16a"] a:hover,
[data-theme="#54d16a"] .extra-content_trigger:hover {
  color: #54d16a !important;
}
[data-theme="#ff8528"] a:hover, 
[data-theme="#ff8528"] .extra-content_trigger:hover {
  color: #ff8528 !important; 
}*/

 /* [data-theme="#d9c1fa"] .c-jjfAVZ {
  background: #d9c1fa;
} */

[data-theme="#54d16a"] .nav-trigger:hover,
[data-theme="#54d16a"] nav a:hover {
  /* color: #d9c1fa !important; */
}

a, button {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(200,200,200);
}

h2 {
  letter-spacing: -0.02em;
}

h2 a {
  letter-spacing: -0.01em;
}

h2 span div {
  letter-spacing: -0.01em;
}

/* .logo-wrapper p {
  font-size: 1.3rem;
  letter-spacing: 0;
} */

/*[data-theme="#ff8528"] .c-jjfAVZ {
  background: #ff8528;
} */

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

/* .event-single:first-of-type {
  grid-column: span 2;
} */


section {
  padding: 1em !important;
}

blockquote {
  margin: .75em 2.5em .75em 2em;
  /* margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; */
}

blockquote p {
  white-space: normal !important;
  overflow-wrap: normal !important;
}

/* blockquote + blockquote {
  margin-block-start: -2.5em;
}

.extra-content blockquote + p {
  margin-block-start: -2.5em;
} */

/* .extra-content p {
  padding-top: 0 !important;
} */

#tickets {
  padding-top: 1em;
}

@media(max-width: 670px) {
  .events {
    grid-template-columns: 1fr;
    padding: .5em;
  }

  .event-single:first-of-type {
    grid-column: span 1;
  }

  section {
    padding: 2em !important;
  }
}