body {
  scroll-behavior: smooth;
}

/* [data-theme="#d9c1fa"] a:hover,
[data-theme="#d9c1fa"] .extra-content_trigger:hover {
  color: #d9c1fa !important;
}
[data-theme="#54d16a"] a:hover,
[data-theme="#54d16a"] .extra-content_trigger:hover {
  color: #54d16a !important;
}
[data-theme="#ff8528"] a:hover, 
[data-theme="#ff8528"] .extra-content_trigger:hover {
  color: #ff8528 !important; 
}*/

 /* [data-theme="#d9c1fa"] .c-jjfAVZ {
  background: #d9c1fa;
} */

[data-theme="#54d16a"] .nav-trigger:hover,
[data-theme="#54d16a"] nav a:hover {
  color: #d9c1fa !important;
}

/*[data-theme="#ff8528"] .c-jjfAVZ {
  background: #ff8528;
} */

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

.event-single:first-of-type {
  grid-column: span 2;
}

@media(max-width: 670px) {
  .events {
    grid-template-columns: 1fr;
  }
  .event-single:first-of-type {
    grid-column: span 1;
  }
}

blockquote {
  margin: 1em 0 0 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

blockquote p {
  white-space: normal !important;
  overflow-wrap: normal !important;
}

blockquote + blockquote {
  margin-block-start: -2.5em;
}

.extra-content blockquote + p {
  margin-block-start: -2.5em;
}

.extra-content p {
  padding-top: 0 !important;
}

#tickets {
  padding-top: 1em;
}