@font-face {
  src: url("../fonts/DinamoSynt-Regular.woff");
  font-family: "Synt";
}

@font-face {
  src: url("../fonts/NHaasGroteskTXPro-65Md.woff");
  font-family: "Neue Haas Grotesk";
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

:root {
  --bg: white;
  --fg: black;
  --highlight: #d9c1fa;
  --leading: 1.2;
  --gutter: 2rem;
  --margin: 2rem;

  --sans: "Neue Haas Grotesk";
  --size-sans: 1.6rem;

  --serif: "Synt";
  --size-serif: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 1vw;
}

a {
  color: inherit;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.075em;
}
a:hover {
  color: var(--highlight);
  text-decoration-line: underline;
}

body {
  font-size: var(--size-sans);
  font-family: var(--sans);
  line-height: var(--leading);
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.caps {
  text-transform: uppercase;
}

p:not(:last-child) {
  margin-bottom: calc(var(--leading) * 1em);
}

.hero {
  font-size: 7.2rem;
  line-height: 1;
  padding: var(--margin);
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.hero p:not(:last-child) {
  margin-bottom: calc(var(--leading) * 0.5em);
}

.marquee {
  font-family: var(--serif);
  font-size: var(--size-serif);
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  padding: var(--margin);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  margin-top: auto;
  padding: var(--margin);
  display: grid;
  gap: var(--gutter);
  grid-template-columns: 2fr 1fr 1fr;
  align-items: flex-end;
}
footer div:last-child {
  display: flex;
  justify-content: flex-end;
}
footer nav {
  display: flex;
  gap: 1.2em;
}
footer nav a,
footer nav a:hover {
  text-decoration-line: none;
}
footer figcaption {
  max-width: 30em;
}

figure img {
  display: block;
  max-width: 100%;
  width: 100%;
}
figcaption {
  font-family: var(--serif);
  font-size: var(--size-serif);
  margin-bottom: calc(var(--leading) * 1em);
}

figure.hero-img {
  position: absolute;
  bottom: 5.8rem;
  left: 50%;
  right: var(--margin);
}
figure.hero-img img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.disc {
  position: absolute;
  top: 34vw;
  right: calc(var(--margin) * 2);
  z-index: 2;
  width: 18rem;
  animation: rotate 20s infinite linear;
}
.disc svg {
  width: 100%;
}

.pane {
  background: var(--highlight);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10000;
  width: 100%;
  max-width: 31 em;
  display: flex;
  flex-direction: column;
}
.pane__content {
  padding: var(--margin);
  flex: 1;
}
